<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Product Details Here.!</h4>
                    <form class="forms-sample" method="post" action="{% url 'SaveProduct' %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="exampleSelectGender" name="PCat">
                          <option>Select Product Category</option>
                          {% for i in cat %}
                          <option>{{i.CategoryName}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="PName">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Quantity</label>
                        <input type="number" class="form-control" id="exampleInputEmail3" placeholder="Quantity" name="PQuant" >
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">MRP</label>
                        <input type="number" class="form-control" id="exampleInputPassword4" placeholder="MRP" name="PPrice">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="Description" name="PDesc"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">Country of Origin</label>
                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Country of Origin" name="POrigin">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputCity1">Manufacture By</label>
                        <input type="text" class="form-control" id="exampleInputCity2" placeholder="Manufacture By" name="PManu">
                      </div>
                      <div class="form-group">
                        <label>Upload product Images</label><br>
                        <input type="file" name="Pimg1" ><br>
                        <input type="file" name="Pimg2"><br>
                        <input type="file" name="Pimg3"><br>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
    {% if i.tags == 'success' %}
        <script>
            swal('{{i}}', '', 'success')
        </script>

    {% elif i.tags == 'error' %}
        <script>
            swal('{{i}}', '', 'error')
        </script>

    {% elif i.tags == 'warning' %}
        <script>
            swal('{{i}}', '', 'warning')
        </script>

    {% else %}
        <script>
            swal('{{i}}', '', 'info')
        </script>
    {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}